.githubIcon {
  background: center/contain url('./assets/github.svg');
}

.googleIcon {
  background: center/contain url('./assets/google.svg');
}

.ccTalkIcon {
  background: center/contain url('./assets/ccTalk.svg');
}

.logo {
  width: 96px;
  height: 40px;
  background: url(~@/app/components/share/chat/welcome/icons/logo.png) center center no-repeat;
  background-size: contain;
}

.background {
  background-image: url('./img/bg.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background .content_box{
  width:1132px !important;
  height:577px !important;
  background: url('./img/box_bg.png') !important;
  position: relative;
  box-shadow: none;
}
.cont_box_header{
  margin:0px auto;
  width:278px !important;
  height:130px !important;
  background: url('./img/top_title_sm.png') !important;
}
.cont_box{
  position: absolute;
  right: 97px;
  width: 320px;
  top: 90px;
}
.btn_login{
  background: #045398;
  height:40px;
  margin-bottom: 20px;
}
.btn_login:hover{
  background: #034681;
}
.fontBold{
  font-weight: bold;
}
