# cas 集成配置
CAS_CLIENT_ID=cas-client-id
CAS_CLIENT_SECRET=cas-client-secret
CAS_SERVER_URL=https://cas.example.com
CAS_EMAIL_DOMAIN=example.com

# 默认空间配置. 空间ID为UUID格式, 新用户默认创建和加入该ID对应的空间
DEFAULT_TENANT_ID=00000000-0000-0000-0000-000000000000
DEFAULT_TENANT_NAME=默认空间