/* .item:hover, */
.item {
  border-left: 4px solid transparent;
}

.item.active {
  border-left: 4px solid #1A2FF6;
  color: #1C64F2;
  font-weight: 500;
  background-color: #E4EDFE;
  font-weight: 600;
}

.item_mobile{
  border: 0.5px solid transparent;
  border-radius: 4px;
  padding: 3px;
}

.item.active_mobile > div{
  border: 0.5px solid #eaecf0;
  box-shadow: 0 1px 2px rgba(16,24,40,.05);
  border-radius: 8px;
  background: #fff;
  color: #344054;
  font-weight: 500;
}